---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import team from "../../data/team";
import TeamCard from "../../components/TeamCard.astro";
import ImageComp from "../../components/ImageComp.astro";

const headerData = {
  title: "Our Story",
  primaryImage:
    "/src/assets/images/view-of-the-mountains-from-ogden-airport.webp",
  primaryAlt: "View of the mountains from Ogden Airport",
};
---

<BaseLayout
  siteTitle="Our Story from Gridiron to Cockpit | About Blitz Aviation"
  siteDescription="Discover the inspiring story behind Blitz Aviation. Founded by Mycah Pittman, our flight school in Ogden, Utah, is built on passion, perseverance, and a mission to make aviation accessible to all. Learn how we help future pilots take flight."
>
  <Header slot="hero" data={headerData} />

  <section>
    <div
      class="mx-auto px-5 md:px-10 lg:px-20 py-24 flex flex-col-reverse lg:flex-row gap-10 lg:gap-10 items-center"
    >
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2
          class="max-w-lg text-pretty text-4xl font-bold tracking-wide text-main-black sm:text-5xl"
        >
          Our Story
        </h2>
        <h3 class="text-blue-800 font-semibold text-2xl tracking-wide italic">
          A Journey from the Field to the Sky
        </h3>
        <p class="lg:text-lg tracking-wider font-light">
          Blitz Aviation was founded by Mycah Pittman and Michael Pittman, Jr.
          with a simple mission: to make flight training accessible to everyone.
          The name “Blitz” comes from Mycah's and Michael's roots in football ,
          where a blitz is a fast, strategic play , reflecting the speed,
          discipline, and focus he brings to aviation. Mycah played <a
            href="https://en.wikipedia.org/wiki/Mycah_Pittman"
            target="_blank"
            class="text-link">college football</a
          > at the University of Oregon, Florida State, and Utah, and his brother
          and co-owner Michael Pittman Jr. <a
            href="https://en.wikipedia.org/wiki/Michael_Pittman_Jr."
            target="_blank"
            class="text-link">plays professionally</a
          > in the NFL for the Indianapolis Colts.
        </p>
        <p class="lg:text-lg tracking-wider font-light">
          Mycah took his first discovery flight in 2024. That introductory
          flight sparked a passion for aviation, motivating him to take flying
          seriously. Even during his playing days, he would often head straight
          to the airport after games, using every opportunity to build his
          knowledge and improve his skills. Through hard work and determination,
          he went from knowing nothing about aviation to confidently flying and
          communicating with ground and tower controllers. He obtained all his
          ratings including private pilot, instrument, commercial, CFI, CFII in
          under a year!
        </p>
        <p class="lg:text-lg tracking-wider font-light">
          Now, his passion has inspired Michael, who is currently working on his
          Private Pilot License (PPL).
        </p>
        <p class="lg:text-lg tracking-wider font-light">
          At Blitz Aviation, Mycah and Michael bring that same drive and focus
          to helping others reach their goals. Whether you're aiming for a
          private pilot's license or a professional career, we provide the
          structure, support, and hands-on training you need to succeed. With
          personalized instruction, well-maintained aircraft, and a clear
          curriculum, we'll help you train with purpose and fly with confidence.
        </p>

        <a href="/programs/private-pilot" class="btn-primary w-fit mt-3"
          >Start Training</a
        >
      </div>
      <div class="flex-1 relative w-full">
        <!-- <ImageComp
          src="/src/assets/images/mycah-pittman-at-blitz-aviation-receiving-certification.webp"
          alt="Mycah Pittman at Blitz Aviation receiving certification"
          classes="z-10 relative aspect-square object-cover max-h-[30rem]"
        /> -->
        <iframe
          src="https://www.youtube.com/embed/y2KtRL0RgQE?si=FwT1W2w0Qkumem2d"
          title="The Blitz Aviation Story Zero to CFII in Less Than a Year"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          class="w-full aspect-video"
          allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section
    class="bg-gradient-to-br from-main-blue-700 to-main-blue-900 text-white"
  >
    <div
      class="mx-auto px-5 md:px-10 lg:px-20 py-24 flex flex-col-reverse md:flex-row gap-10 lg:gap-40"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8570.796812000563!2d-112.00949248811187!3d41.19359464275503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530f7f7d2ca05b%3A0x713e2fd356ac2a9!2sBlitz%20aviation!5e0!3m2!1sen!2sca!4v1743089064739!5m2!1sen!2sca"
        class="w-full min-h-96 flex-1"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2
          class="max-w-lg text-pretty text-4xl font-bold tracking-wide text-main-black sm:text-5xl"
        >
          Our Location
        </h2>
        <p class="lg:text-lg tracking-wider font-light">
          Blitz Aviation is conveniently located at Ogden-Hinckley Airport
          (KOGD), providing easy access for students from Ogden, Salt Lake City,
          Provo, Park City, and surrounding areas. Our facilities and
          well-maintained aircraft create a professional and comfortable
          training environment.
        </p>
        <p class="lg:text-lg tracking-wider font-light">
          With stunning mountain views and a variety of training areas nearby,
          our location offers the perfect backdrop for flight training. Whether
          you're flying over the Great Salt Lake or practicing maneuvers in the
          Wasatch Mountains, you'll enjoy a scenic and challenging training
          experience.
        </p>
        <a href="#contactUs" class="btn-secondary w-fit mt-3">Visit Us</a>
      </div>
    </div>
  </section>
</BaseLayout>
