---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import team from "../../data/team";
import TeamCard from "../../components/TeamCard.astro";

const headerData = {
  title: "Our Team",
  primaryImage:
    "/src/assets/images/team-blitz-aviation-flight-training-utah-salt-lake.webp",
  primaryAlt: "Team Blitz Aviation Flight Training Utah Salt Lake",
};
---

<BaseLayout
  siteTitle="Meet Our Certified Flight Instructors | Blitz Aviation's Expert Team in Ogden, Utah"
  siteDescription="Learn from Blitz Aviation's experienced CFIs in Ogden, Utah. Our team of passionate certified flight instructors brings diverse backgrounds and specialized expertise to deliver personalized, high-quality flight training for all levels."
  siteKeywords="certified flight instructors Utah, CFI Ogden Utah, flight training instructors, aviation teachers Utah, experienced flight instructors, Blitz Aviation team, aviation mentors, pilot instructors Ogden, professional flight teachers, aviation education experts, flight school instructors"
>
  <Header slot="hero" data={headerData} />

  <section
    class="mx-auto px-5 md:px-10 lg:px-20 py-16 gap-10 flex flex-col max-w-7xl"
  >
    <div class="text-center max-w-3xl mx-auto mb-8">
      <h2 class="text-4xl font-bold mb-4">Our Expert Flight Instructors</h2>
      <p class="text-lg">
        At Blitz Aviation, our team of dedicated Certified Flight Instructors
        (CFIs) brings expertise, passion, and personalized attention to your
        flight training journey. Each instructor is committed to your success
        and safety in the air.
      </p>
    </div>

    {team.map((member) => <TeamCard {...member} />)}
  </section>

  <section
    class="bg-gradient-to-br from-main-blue-700 to-main-blue-900 text-white"
  >
    <div
      class="mx-auto px-5 md:px-10 lg:px-20 py-24 flex flex-col-reverse md:flex-row gap-10 lg:gap-40 items-center"
    >
      <div class="flex-1">
        <!-- Andrew Video Why I Became a CFI at Blitz Aviation (v=miabJ6P5rOU) -->
        <iframe
          src="https://tube.rvere.com/embed?v=ha-0DAyil2M"
          title="Why I Chose Blitz Aviation for My Pilot Training"
          class="w-full h-full flex-1 aspect-video"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        >
        </iframe>
      </div>

      <!-- <div class="flex-1 flex justify-center flex-col gap-5">
        <h3
          class="max-w-lg text-pretty text-4xl font-bold tracking-wide text-main-black sm:text-5xl"
        >
          Meet CFI Andrew Zilka
        </h3>
        <p class="lg:text-lg tracking-wider font-light">
          Andrew Zilka is a passionate Certified Flight Instructor (CFI) at
          Blitz Aviation, dedicated to sharing his love for aviation and
          empowering the next generation of pilots.
        </p>
        <p class="lg:text-lg tracking-wider font-light">
          Learn more about Andrew's journey, his passion for teaching, and how
          he inspires students to achieve their aviation dreams in this
          insightful video. Whether you're a beginner or an experienced pilot,
          Andrew's expertise and enthusiasm make him an invaluable part of the
          Blitz Aviation team.
        </p>
        <a href="#contactUs" class="btn-secondary w-fit mt-3">Contact Us</a>
      </div> -->
    </div>
  </section>
</BaseLayout>
