---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import team from "../../data/team";
import TeamCard from "../../components/TeamCard.astro";

const headerData = {
  title: "Our Team",
  primaryImage: "/src/assets/images/pexels-junerydocto-15543665.jpg",
  primaryAlt: "Our Team",
};
---

<BaseLayout>
  <Header slot="hero" data={headerData} />

  <section
    class="mx-auto px-5 md:px-10 lg:px-20 py-16 gap-10 flex flex-col max-w-7xl"
  >
    {team.map((member) => <TeamCard {...member} />)}
  </section>
</BaseLayout>
