---
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const headerData = {
  title: "Our Blog",
  primaryImage:
    "/src/assets/images/ogden-mountains-view-from-blitz-hangar.webp",
  primaryAlt: "Ogden mountains view from Blitz Aviation hangar",
};
---

<BaseLayout
  siteTitle="Aviation Tips, Student Stories & Industry Insights | Blitz Aviation Blog"
  siteDescription="Stay updated with the latest in aviation training, student success stories, and expert flying tips. The Blitz Aviation Blog offers valuable content for aspiring pilots and aviation enthusiasts alike."
>
  <Header slot="hero" data={headerData} />

  <section class="mx-auto px-5 md:px-10 lg:px-20 py-16">
    <div class="flex flex-col gap-5">
      <h3
        class="max-w-lg text-4xl font-bold tracking-wide text-main-black sm:text-5xl"
      >
        Our Blog
      </h3>
      <h4 class="text-blue-800 font-semibold text-2xl tracking-wide italic">
        The Latest Resources and Insights
      </h4>
      <p class="lg:text-lg tracking-wider font-light max-w-4xl">
        Stay up to date with the latest news, tips, and updates from the world
        of aviation. Our blog features articles on a variety of topics,
        including flight training, aviation safety, and industry trends.
      </p>
      <div
        class="grid mt-10 gap-10 sm:grid-cols-2 lg:grid-cols-3 w-full sm:justify-center"
      >
        {posts.map((post) => <BlogPostCard {...post} />)}
      </div>
    </div>
  </section>
</BaseLayout>

<script define:vars={{ posts }}>
  console.log(posts);
</script>
