---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const headerData = {
  title: "Blog",
  primaryImage: "/src/assets/images/pexels-josephmartin-5785741.jpg",
  primaryAlt: "Blog",
};
---

<BaseLayout>
  <Header slot="header" data={headerData} />

  <section class="py-24 mt-28">
    <div
      class="absolute top-0 w-full h-[20vh] bg-gradient-to-bl from-0% via-30% from-main-blue via-transparent"
    >
    </div>

    <div class="max-w-7xl mx-auto flex flex-col px-5">
      <h2
        class="font-mono text-xs/5 font-semibold uppercase tracking-widest text-gray-500 data-[dark]:text-gray-400"
      >
        Blog
      </h2>
      <h3
        class="mt-2 text-pretty text-4xl font-medium tracking-tighter text-gray-950 data-[dark]:text-white sm:text-6xl"
      >
        The Latest News
      </h3>
      <p class="mt-6 max-w-3xl text-2xl font-medium text-gray-500">
        Stay up to date with the latest news, tips, and updates from the world
        of aviation.
      </p>
      <div
        class="grid mt-10 gap-10 sm:grid-cols-2 lg:grid-cols-3 w-full sm:justify-center"
      >
        {posts.map((post) => <BlogPostCard {...post} />)}
      </div>
    </div>
  </section>
</BaseLayout>

<script define:vars={{ posts }}>
  console.log(posts);
</script>
