---
import { Image } from "astro:assets";
import HeroImage1 from "../assets/images/cfi-cambrie-foster.jpg";
import HeroImage2 from "../assets/images/cfi-andrew-zilka.jpg";
---

<header class="relative isolate overflow-hidden h-screen flex">
  <div class="flex-1">
    <Image
      src={HeroImage1}
      alt="Blitz Airplane in Hangar"
      class="h-full object-cover w-full"
      loading="eager"
    />
  </div>
  <div class="flex-1">
    <Image
      src={HeroImage2}
      alt="Blitz Airplane in Hangar"
      class="h-full object-cover w-full"
      loading="eager"
    />
  </div>

  <iframe
    class="aspect-video pointer-events-none absolute w-[160rem] -left-[65rem] lg:-left-[50rem] -top-[15rem] 2xl:h-[135vh] 2xl:w-[135vw] 2xl:-left-[18vw] 2xl:-top-[18vh]"
    src="https://www.youtube.com/embed/JsE8JQfYLGA?autoplay=1&start=113&loop=1&mute=1&iv_load_policy=3&controls=0&disablekb=1&fs=0&vq=hd1080&modestbranding=1&rel=0&playlist=JsE8JQfYLGA"
    title="YouTube video player"
    loading="eager"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>

  <div
    class="flex px-5 md:px-10 lg:px-20 absolute top-0 backdrop-brightness-50 bottom-0 right-0 left-0 text-white items-center justify-center text-center"
  >
    <div class="flex flex-col gap-3 translate-y-24 sm:translate-y-48">
      <h1
        class="text-6xl max-w-2xl lg:text-8xl font-black lg:max-w-6xl uppercase italic"
      >
        Blitz Aviation
      </h1>
      <h2 class="text-xl max-w-xl lg:text-2xl lg:max-w-3xl">
        Your flight school at Ogden, Utah
      </h2>
      <div class="flex gap-5 flex-col sm:flex-row justify-center mt-2">
        <a href="/enrollment-form" class="btn-secondary">Start Flying</a>
        <a href="#trainingPrograms" class="btn-secondary">Programs</a>
      </div>
    </div>
  </div>
</header>
