---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from "../consts";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, siteImage, siteKeywords } = Astro.props;
import "@fontsource-variable/outfit";
import ContactUs from "../components/ContactUs.astro";
import ImageComp from "../components/ImageComp.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      image={siteImage ||
        "/team-blitz-aviation-flight-training-utah-salt-lake.webp"}
      keywords={siteKeywords || SITE_KEYWORDS}
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQWV363W");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Preconnect to external domains to improve performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Additional mobile-friendly meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <script
      src="https://widgets.leadconnectorhq.com/loader.js"
      data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js"
      data-widget-id="686696c91b62b35a1a49fc49"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WQWV363W"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >

    <!-- End Google Tag Manager (noscript) -->
    <header>
      <Navbar pathname={pathname} client:load>
        <ImageComp
          src="/src/assets/logos/blitz-aviation-logo.png"
          alt="Blitz Aviation Logo"
          classes="w-full h-full object-contain"
          loading="eager"
        />
      </Navbar>
    </header>
    <main>
      <slot name="hero" />
      <slot />
      <ContactUs />
    </main>
    <Footer />
    <script src="../scripts/aos.js"></script>
  </body>
</html>
