---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription } = Astro.props;
import "@fontsource-variable/outfit";
import ContactUs from "../components/ContactUs.astro";
import ImageComp from "../components/ImageComp.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <header>
      <Navbar pathname={pathname} client:load>
        <ImageComp
          src="/src/assets/logos/blitz-aviation-logo.png"
          alt="Blitz Aviation Logo"
          classes="w-full h-full object-contain"
          loading="eager"
        />
      </Navbar>
    </header>
    <main>
      <slot name="hero" />
      <slot />
      <ContactUs />
    </main>
    <Footer />
    <script src="../scripts/aos.js"></script>
  </body>
</html>
