---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ImageComp from "../components/ImageComp.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<article class="prose lg:prose-xl max-w-3xl mx-auto py-20 px-5">
  <div class="max-h-[30rem] flex mb-10">
    <ImageComp
      src={heroImage}
      alt={title}
      classes="object-cover w-full rounded-2xl"
    />
  </div>
  <div class="title">
    <div class="date">
      <FormattedDate date={pubDate} />
    </div>
    <h1>{title}</h1>
  </div>
  <slot />
</article>
