---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ImageComp from "../components/ImageComp.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<article class="prose lg:prose-xl max-w-3xl mx-auto py-10 lg:py-20 px-5">
  <div class="flex">
    <ImageComp
      src={heroImage}
      alt={title}
      classes="object-cover w-full aspect-square"
    />
  </div>
  <div class="title">
    <div class="date text-blue-800 font-semibold text-2xl tracking-wide italic">
      <FormattedDate date={pubDate} />
    </div>
    <h1>{title}</h1>
  </div>
  <slot />
</article>
