---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from "../consts";
import "@fontsource-variable/outfit";
const { siteTitle, siteDescription, siteKeywords } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      keywords={siteKeywords || SITE_KEYWORDS}
    />
    <!-- Preconnect to external domains to improve performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Additional mobile-friendly meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
